<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>daddy</string>
	<string>the rock</string>
	<string>daddy</string>
	<string>tangerine</string>
	<string>excitement</string>
	<string>athlete</string>
	<string>carnival</string>
	<string>telephone</string>
	<string>keyboard</string>
	<string>laptop</string>
	<string>sticker</string>
	<string>apple</string>
	<string>orange</string>
	<string>banana</string>
	<string>blueberry</string>
	<string>strawberry</string>
	<string>dance party</string>
	<string>toy car</string>
	<string>island</string>
	<string>best friend</string>
	<string>dalmation</string>
	<string>elephant</string>
	<string>numeric</string>
	<string>im tired</string>
	<string>help me</string>
	<string>berkeley</string>
	<string>information</string>
	<string>building</string>
	<string>computer</string>
	<string>application</string>
	<string>rollercoaster</string>
	<string>bagpipes</string>
	<string>awkward</string>
	<string>banjo</string>
	<string>oxygen</string>
	<string>yacht</string>
	<string>jukebox</string>
	<string>big dick</string>
	<string>zigzag</string>
	<string>peach</string>
</array>
</plist>
